* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



article {
  display: flex;
  flex-direction: row;
}

section { 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 4);
  height: 100vh;
  transition: 0.8s;
}

header { 
  width: 100vw;
  background-color: white;
  margin-bottom: 10px;
 }

 h1 {
  text-align: center;
 }



.se1:hover {
  background-color: black;
  border-radius: 100vW;
}
.se1:hover .h21 {
  color: white;
}

.se2 {
  background-color: white;
}
.se2:hover {
  border-radius: 15px;
  background-color: white;
  border: 5px solid black;
  border-top: 30px solid black;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  word-break: keep-all;
}